<h1 class="text-2xl bold">Users</h1>
<div class="">
    <% if current_user %>
    <table class="table-auto w-full text-sm text-left leading-5">
        <thead class="text-xs border-b uppercase">
            <tr class="text-[#101827]">
                <th scope="col" class="px-6 py-3">Email</th>
                <th scope="col" class="px-6 py-3">Role</th>
                <th scope="col" class="px-6 py-3">Action</th>
            </tr>
        </thead>
        <% @users.each do |user| %>
            <tbody class="text-gray-500">
                <tr class="border-b hover:bg-white">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        <%= user.email %>
                    </th>
                    <td class="px-6 py-4">
                        <%= user.roles.pluck(:name).join(',').capitalize %>
                    </td>
                    <td class="px-6 py-4">
                        <%= link_to "Edit", edit_user_path(user), class: "text-blue-400 font-semibold" %>
                    </td>
                </tr>
            </tbody>
        <% end %>
    <% end %>
</div>