<div class="relative inline-block w-full">
  <div data-dropdown-selection-toggle="<%= id %>" class="cursor-pointer">
    <%= yield(toggle) %>
  </div>
  <div data-dropdown-selection-menu="<%= id %>" class="hidden absolute right-0 z-10 mt-2 w-full origin-top-right rounded bg-white shadow ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu">
    <%= yield(menu) %>
  </div>
</div>