<% if flash[:notice] %>
    <div class="bg-green-50 my-5 p-3 rounded text-sm text-green-600 shadow flex items-center gap-3" role="alert">
        <%= heroicon "check-circle", variant: :solid, options: { class: "text-green-400" } %> <%= flash[:notice] %>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="bg-red-50 my-5 p-3 rounded text-sm text-red-600 shadow flex items-center gap-3" role="alert">
        <%= heroicon "x-circle", variant: :solid, options: { class: "text-red-400" } %> <%= flash[:alert] %>
    </div>
<% end %>