<% if flash[:notice] %>
    <div class="bg-sky-400 mt-5 p-3 rounded-lg text-white shadow" role="alert">
        <%= flash[:notice] %>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="bg-rose-400 mt-5 p-3 rounded-lg text-white shadow" role="alert">
        <%= flash[:alert] %>
    </div>
<% end %>