<% if flash[:notice] %>
    <div class="bg-sky-300 mt-5" role="alert">
        <%= flash[:notice] %>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="bg-rose-300 mt-5" role="alert">
        <%= flash[:alert] %>
    </div>
<% end %>