<% if user.roles.first.name == "admin" %>
    <div class="rounded-full border border-2 border-purple-500 bg-slate-200 font-semibold text-[#101827]">
        <div class="border border-2 border-white p-2 rounded-full">
            <%= "#{user.first_name[0].capitalize}#{user.last_name[0].capitalize}" %>
        </div>
    </div>
<% elsif user.roles.first.name == "staff" %>
    <div class="rounded-full border border-2 border-amber-500 bg-slate-200 font-semibold text-[#101827]">
        <div class="border border-2 border-white p-2 rounded-full">
            <%= "#{user.first_name[0].capitalize}#{user.last_name[0].capitalize}" %>
        </div>
    </div>
<% else %>
    <div class="rounded-full border border-2 border-emerald-500 bg-slate-200 font-semibold text-[#101827]">
        <div class="border border-2 border-white p-2 rounded-full">
            <%= "#{user.first_name[0].capitalize}#{user.last_name[0].capitalize}" %>
        </div>
    </div>
<% end %>