<% if user.roles.first.name == "admin" %>
    <div class="badge badge-primary">
        <%= user.roles.pluck(:name).join(', ').capitalize %>
    </div>
<% elsif user.roles.first.name == "staff" %>
    <div class="badge badge-secondary">
        <%= user.roles.pluck(:name).join(', ').capitalize %>
    </div>
<% else %>
    <div class="badge badge-accent">
        <%= user.roles.pluck(:name).join(', ').capitalize %>
    </div>
<% end %>