<div class="rounded-full border border-2 border-blue-500 bg-blue-300 font-semibold text-[#101827]">
    <div class="border border-2 border-white p-2 rounded-full">
        <%= "#{user.first_name[0].capitalize}#{user.last_name[0].capitalize}" %>
    </div>
</div>